.category {
    text-align: center;
    max-width: 500px;
}

.category h2,
.category p {
    margin-bottom: 1rem;
}

.category p {
    color: #8435de;
}

.category img {
    margin-top: 2rem;
    height: 20vh;

}

.flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}


.category label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .1rem;
}

.category input {
    background-color: transparent;
    width: 60%;
    border: 0;
    outline: 0;
    border: 2px solid white;
    border-radius: 5rem;
    padding: .8rem;
    background: linear-gradient(90deg,
            rgba(184, 84, 232, 1) 0%,
            rgba(132, 53, 222, 1) 100%);
    color: white;
    font-weight: 600;
}

.category input::placeholder {
    color: white;
    font-weight: 600;
}